.grid {
	/* box-shadow: 0 0.12em 1em 0 rgb(0 0 0 / 25%), 0 0.1em 0.5em 1px rgb(0 0 0 / 30%),
		0 1em 2em 1px rgb(0 0 0 / 20%); */
	box-shadow: 0 0.12em 1em 0 rgb(0 0 0 / 25%), 0 0.1em 0.5em 1px rgb(0 0 0 / 30%),
		0 1em 2em 1px rgb(0 0 0 / 20%), 0 0.12em 1em 0 rgb(0 0 0 / 25%),
		0 0.1em 0.5em 1px rgb(0 0 0 / 30%), 0 1em 2em 1px rgb(0 0 0 / 20%);
}

/* .grid {
	display: grid;
	grid-auto-rows: 100px;
	grid-template-columns: repeat(9, 50px);
	grid-auto-columns: 50px;

	position: relative;
	margin: 3rem auto 0;
	max-width: 90%;
} */

/* .grid {
	display: grid;
	grid-auto-rows: 100px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-columns: 50px;
	grid-gap: 0.75vw;

	position: relative;
	margin: 3rem auto 0;
	max-width: 90%;
}

.grid > * {
	
	color: black;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 2px;
	background-image: linear-gradient(to right bottom, #e1eec3, #ef27a6);
	transition: 0.65s;
}

.grid > *:hover {

	transform: scale(1.05);
	transition: 0.2s;
	background-image: linear-gradient(to left top, #ef27a6, #7288fa);
	border: 2px solid lime;
} */

/* --- */

/*  @media only screen and (min-width: 600px) {
	.grid {
		display: grid;

		
	}

	
} */

/*
@media only screen and (min-width: 905px) {
	.menu-main {
		padding: 0.5rem 1rem;
	}

} */
