.grid-subheadline {
	display: flex;
	gap: 1px;

	background-color: rgba(64, 64, 64, 0.95);
	color: #fcfafa;

	font-size: 1rem;
	text-transform: uppercase;
	cursor: pointer;

	position: sticky;
	top: 60px;
	z-index: 11;
}

.grid-subheadliner {
	padding: 0.25rem 0;
	width: 100%;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
}
.grid-subheadliner:hover {
	background-color: darkslategray;
	transition: ease-out 0.35s;
}

.grid-subheadliner.grid-col-first,
.grid-subheadliner.grid-col-last {
	font-size: 0.625rem;
	height: auto;
}

/* --- */

@media only screen and (min-width: 600px) {
	.grid-subheadline {
		gap: 2px;
	}

	.grid-subheadliner {
		padding: 0.125rem 0;
	}

	.grid-subheadliner.grid-col-first,
	.grid-subheadliner.grid-col-last {
		font-size: inherit;
		height: inherit;
	}
}

@media only screen and (min-width: 905px) {
	.grid-subheadliner {
		padding: 0.25rem 0;
	}
}
