.headline-new {
	width: 50px;
	height: 10px;
	padding: 0.5rem 0.5rem;
	background-color: #ef27a6;
}

/* --- */

/* @media only screen and (min-width: 600px) {
	.menu-main {
		flex-direction: row;
		border-top: 8px solid #fcfafa;
	}

}

@media only screen and (min-width: 905px) {
	.menu-main {
		padding: 0.5rem 1rem;
	}

} */
