.App {
	text-align: center;
	/* background-color: #5e5760; */
	background-color: #1e9991;
	background-image: linear-gradient(
		to right bottom,
		#1e9991,
		#07a796,
		#00b499,
		#00c299,
		#1bcf97
	);
}
